*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;

}
body{
    background-color: black;
    color: white;
}
.nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    backdrop-filter: blur(10px);
    position: sticky;
    top:0px;
    z-index: 2;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 0.5px solid white;
}
.logo-area{
    align-items: center;
}
.logo{
    width: 245px;
    height: 58px;

}
.navbtn ul li{
    display: inline-flex;
    margin: 0px 20px ;
    flex-basis: 60%;
}
.navbtn ul li a{
    text-decoration: none;
    color: white;
    font-size: larger;
    position: relative;
}
.navbtn ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: linear-gradient(to LEFT, #de224f,black);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}
.navbtn ul li a:hover::after{
    width: 110%;
}
/* ------------------home--------------------- */
#header{
    height: 100vh;
    width: 100%;
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding: 80px 20px;
}
.container{
    padding: 0px 20px;
}
.info{
    margin-top: 7%;
    font-size: 28px;
}
.name{
    font-size:larger;
    font-weight: bold;
    background: linear-gradient(to right, crimson,#3f0916,#262626,#ababab);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.info p{
    font-size: 22px;

}
.btn{
    display: inline-flex;
    width: fit-content;
    border: 3px solid crimson;
    border-radius: 6px;
    padding: 14px 30px;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    color: #fff;
    transition: 0.5s;
    box-shadow: 5px 5px #242424;
}
.btn:hover{
    background: CRIMSON;
    color: black;
}
.btn:active{
    box-shadow: 0px 0px gray;
    transform: translate(5px, 5px);
}
/* --------------About------------- */
#about{
      padding: 80px 20px;
    color:#ababab ;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}   
.about-col-1{
    width: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    width: 60%;
    
}
.about-col-2 h2{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}
.para{
    font-size: x-large;
}
.flex h3 div{
    transition: all 0.3s;
    background: linear-gradient(to left,red,black);
}
.flex{
    cursor: pointer;
}

.flex h3:hover div{
    width: 100%;
}
#frame{
    transition: all 0.4s;
}
/* ----------------services----------------- */
#services{
      padding:  50px 10px;
}
.S-heading{
    justify-items: center;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}
.service-list{
    padding: 30px 20px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 30px;
}
.service-list div{
    background: #262626 ;
    padding: 30px 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    border-radius: 10px;
    transition: all 0.5s;
}
.service-list div:hover{
transition:0.5s;
}
.s1:hover{
  background:linear-gradient(to top left,black,black,red);
  transform:translateX(-20px) translateY(-20px);
  box-shadow:5px 5px #3f0916;
}
.s2:hover{
  background:linear-gradient(to top ,black,black,black,red);
  transform:translateY(-20px);
  box-shadow:0px 5px #3f0916;
}

.s3:hover{
  background:linear-gradient(to top right,black,black,red);
  transform:translateX(20px) translateY(-20px);
  box-shadow:-5px 5px #3f0916;
}

.s4:hover{
  background:linear-gradient(to bottom left,black,black,red);
  transform:translateX(-20px) translateY(20px);
  box-shadow:5px -5px #3f0916;
}

.s5:hover{
  background:linear-gradient(to bottom,black,black,black,red);
  transform:translateY(20px);
  box-shadow:0px -5px #3f0916;

}
.s6:hover{
  background:linear-gradient(to bottom right,black,black,red);
  transform:translateX(20px) translateY(20px);
  box-shadow:-5px -5px #3f0916;
}

.service-list div h3{
    padding: 15px;
    font-weight: bold;
}

/* ---------------contact----------------- */
#contact{
    padding-top: 20px;
}
.contact-area{
    justify-content: space-between;
}
.cont-title{
    padding: 20px;
    font-size: 50px;
    font-weight: 600;
    color: #ababab;
    text-align: center;
    
}
.cont-title-para {
    font-size: x-large;
    text-align: center;
}
.contact-down{
    background: #262626;
    padding: 15px;
}
.details{
    justify-items: center;
   /* margin: auto; */
 }
.details ul{
    display: flex;
}
.details li{
    text-decoration: none;
    padding: 5px;
    font-size: x-large;
    color: #ababab;
    transition: transform 0.5s;
}
.details li:hover{
    color: crimson;
    transform: scale(1.3);
}
.contact-up{
    width: 40%;
    margin: auto;
    display: grid;
    padding: 2%;
    grid-template-columns: auto;
    justify-items: center;
    flex-basis: 100%;
}
form{
    padding: 5%;
    background: linear-gradient(to top right,gray,red,black,black,black,black,red,gray );
    border-radius: 20px;
    text-align: center;
}
form input, textarea{
    text-align: center;
    padding: 3%;
    width: 60%; 
    background: #262626;
    margin: 2% 6%;
    font-size: medium;
    border-radius: 15px; 
    resize:none;
    overflow: hidden;
}   
.but{
    width: fit-content;
    font-size: larger;
  font-weight:bold;
    padding: 9px 35px;
    background-color: black;
    color: white;
    border: 3px solid crimson;
    border-radius: 10PX;
    box-shadow: 5px 5px 15px black;
    transition: all 0.5s ;
}
.but:active{
    background-color: red;
    box-shadow: 0px 0px 0px crimson;
    color: black;
    transform: translate(5px,5px);
}
.but:hover{
  color:black;
   background-color: red;
}
#msg{
    color: rgb(44, 243, 44);
    display: block;

}


/* ----------------------css for small screens-------------- */
@media (min-width:601px) and (max-width:1024px){
  /* ------------------home----------------- */
    #header{
    background-size: cover;
    padding: 60px 15px;
    }
    .info{
        font-size: 25px;
        margin-top: 15%;
    }
     .btn{
        padding: 12px 22px;
        font-size: large;
    }
/* -----------------------about me ------------------------- */
    .about-col-1, .about-col-2{
        width: 100%;
    }
    .about-col-2 h2 {
        font-size: 36px;
    }
    .para{
        font-size: large;
    }
    .w-\[400px\]{
        width: 300px;
    }
     #about-slide{
        justify-self: center;
    }
   /* <!-- ---------------------services-------------------------- --> */

   .S-heading{
    justify-items: center;
    font-size: 36px;
    font-weight: bold ;
    color: #fff;
    }
    .service-list{
        padding: 20px 20px;
        display: grid;
        grid-template-columns: repeat(2,auto);
        gap: 15px;
    }
    .service-list div{
    background: #262626 ;
    padding: 20px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    border-radius: 10px;
    transition: all 0.5s;   
    }
    .service-list div h3{
        color: crimson;
    }
        .service-list div:hover{
    transition:0.5s;
    }
    .s1:hover{
    background:linear-gradient(to top left,black,black,red);
    transform:translateX(-20px) translateY(-20px);
    box-shadow:5px 5px #3f0916;
    }
    .s2:hover{
    background:linear-gradient(to top right ,black,black,black,red);
    transform:translateX(20px) translateY(-20px);
    box-shadow:-5px 5px #3f0916;
    }

    .s3:hover{
    background:linear-gradient(to left,black,black,red);
    transform:translateX(-20px);
    box-shadow:5px 0px #3f0916;
    }

    .s4:hover{
    background:linear-gradient(to right,black,black,red);
    transform:translateX(20px);
    box-shadow:-5px 0px #3f0916;
    }

    .s5:hover{
    background:linear-gradient(to bottom left,black,black,black,red);
    transform:translateX(-20px) translateY(20px);
    box-shadow:5px -5px #3f0916;

    }
    .s6:hover{
    background:linear-gradient(to bottom right,black,black,red);
    transform:translateX(20px) translateY(20px);
    box-shadow:-5px -5px #3f0916;
    } 
    /* --------------------Contact------------ */
    #contact{
    padding-top: 10px;
    } 
    .cont-title{
        font-size: 36px;
        font-weight: 600;
        color: #ababab;
    }
    .cont-title-para{
        font-size:larger;
    }  
    .contact-down{
        margin-top: 3%;

    }  
    .details{
        padding: 10px 0px;
    }
    .details li{
        text-decoration: none;
        font-size: 20px;
        padding: 3px;
        transition: all 0.3s;
        color: #ababab;
    }
    .details li:hover{
        transform: scale(1.2);
    }
    form input,textarea{
        font-size: small;
        text-align: center;
        padding: 5%;
        width: 70%; 
        background: #262626;
        margin: 2% 6%;
        border-radius: 15px; 
        resize:none;
        overflow: hidden;
    }
    .but{
    width: fit-content;
    font-size: medium;
    font-weight:bold;
    padding: 5px 25px;
    background-color: black;
    color: white;
    border: 2px solid crimson;
    border-radius: 10PX;
    box-shadow: 5px 5px 15px black;
    transition: all 0.5s ;
}
    #msg{
        color: rgb(44, 243, 44);
        display: block;
    }
} 

@media only screen and (max-width: 600px){
  /* ------------home-------------- */  
  .logo{
      width: 170px;
    height: 40px;
  } 
  #header{
        background-size: cover;
        padding: 40px 10px;
    }    
    .info{
        font-size: 18px;
        margin-top: 20%;
    }    
    .name{
        font-size: 25px;
    }    
    .btn{
        padding: 10px 20px;
        font-size: medium;
    }    
    /* -----------------------about me ------------------------- */
    .about-col-1, .about-col-2{
        width: 100%;
    }
    .about-col-2 h2 {
        font-size: 28px;
    }
    .para{
        font-size: medium;
    }
      .w-\[400px\]{ 
        font-size: medium;
    }
    #about-slide{
        justify-self: center;
    }
/* <!-- ---------------------services-------------------------- --> */
    .S-heading h1{
    justify-items: center;
    font-size: 28px;
    font-weight: bold ;
    padding-bottom: 10px;
    color: #fff;
    }
    .service-list{
        padding: 10px 20px;
        display: grid;
        grid-template-columns: auto;
        gap: 8px;
    }
    .service-list div{
    background: #262626 ;
    padding: 5px 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    border-radius: 10px;
    transition: all 0.5s;   
    }
    .service-list div h3{
        color: crimson;
        font-size: 20px;
        padding: 5px;
    }
    .service-list div:hover{
    transition:0.5s all;
    }
    .s1:hover{
    background:linear-gradient(to left,black,black,red);
    transform:translateX(-20px);
    box-shadow:5px 0px #3f0916;
    }
    .s2:hover{
    background:linear-gradient(to right ,black,black,black,red);
    transform:translateX(20px) ;
    box-shadow:-5px 0px #3f0916;
    }

    .s3:hover{
    background:linear-gradient(to left,black,black,red);
    transform:translateX(-20px);
    box-shadow:5px 0px #3f0916;
    }

    .s4:hover{
    background:linear-gradient(to right,black,black,red);
    transform:translateX(20px);
    box-shadow:-5px 0px #3f0916;
    }

    .s5:active{
    background:linear-gradient(to left,black,black,black,red);
    transform:translateX(-20px);
    box-shadow:5px 0px #3f0916;
    }
    .s6:hover{
    background:linear-gradient(to right,black,black,red);
    transform:translateX(20px);
    box-shadow:-5px 0px #3f0916;
    } 

/* --------------------Contact------------------- */
    .cont-title-para{
        font-size: medium;
    }
    .cont-title{
        font-weight: bold;
        text-align: center;
        color: #ababab;
        font-size: 28px;
    }
    .details ul{
        padding: 0px 25px;
        display: flex;
    }
    .details li{
        flex-direction: row;
        text-decoration: none;
        padding: 3px ;
        font-size: medium;
        color: #ababab;
        transition: all 0.3s;
    }
    .details li:hover{
        transform: scale(1.2);
    }
    .contact-up{
    width: 55%;
    }
    form{
    padding: 3% 0%;
    background: linear-gradient(to top right,gray,red,black,black,black,black,red,gray );
    border-radius: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 10%;
    }
    form input,textarea{
        font-size: smaller;
        text-align: center;
        padding: 5% ;
        background: #262626;
        margin: 2% 6%;
        border-radius: 15px; 
        resize:none;
        overflow: hidden;
    }
    .but{
    width: fit-content;
    font-size: smaller;
  font-weight:bold;
    padding: 5px 25px;
    background-color: black;
    color: white;
    border: 2px solid crimson;
    border-radius: 10PX;
    box-shadow: 5px 5px 15px black;
    transition: all 0.5s ;
    }
    .but:active{
    background-color: red;
    box-shadow: 0px 0px 0px crimson;
    color: black;
    transform: translate(5px,5px);
    }
     #msg{
        color: rgb(44, 243, 44);
        display: block;
    }
}
/* ---------------- Media Query: Small Screens (200px–450px) ---------------- */
@media screen and (min-width:200px) and (max-width:450px) {
    /* HOME */
    #header {
        background-size: cover;
        padding: 40px 10px;
        /* text-align: center; */
    }
    .info {
        font-size: 18px;
    }
    .info p {
        font-size: 16px;
    }
    .btn {
        padding: 10px 20px;
        font-size: 16px;
    }

    /* ABOUT */
    .row {
        flex-direction: column;
        align-items: center;
    }
    .about-col-1, 
    .about-col-2 {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    .about-col-2 h2 {
        font-size: 32px;
    }
    .para {
        font-size: 16px;
    }
    #about-slide .w-\[400px\] {
        width: 280px !important;
    }
    #frame {
        width: 840px !important;
    }
    #frame p {
        width: 280px !important;
    }

    /* SERVICES */
    .service-list {
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .S-heading {
        font-size: 32px;
        text-align: center;
    }
    .service-list div {
        font-size: 16px;
        padding: 20px;
    }

    /* CONTACT */
    .cont-title {
        font-size: 32px;
    }
    .cont-title-para {
        font-size: 16px;
        padding: 0 10px;
    }
    .contact-up {
        width: 70%;
    }
    form input, textarea, .but {
        width: 50%;
        margin: 3% 5%;
        padding: 4% ;

    }
    .details ul {
        display: flex;
        align-items: center;
    }
    .details li {
        font-size: 18px;
    }
}
/* --------- Hamburger Menu for Small Screens (200px–1024px) --------- */
@media screen and (min-width:200px) and (max-width:900px) {
    .hamburger {
        display: block;
        font-size: 28px;
        cursor: pointer;
        color: white;
        margin-right: 15px;
    }

    .navbtn {
        position: fixed;
        top: 0;
        right: -250px; /* hidden by default */
        width: 250px;
        height: 100vh;
        background: #111;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: right 0.4s ease-in-out;
        z-index: 1000;
    }

    .navbtn ul {
        display: flex;
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }

    .navbtn.active {
        right: 0; /* slides in */
    }

    .nav {
        justify-content: space-between;
        padding: 0 20px;
    }
    /* Close button inside sidebar */
    .close-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 26px;
        color: white;
        cursor: pointer;
        transition: 0.3s;
    }
    .close-btn:hover {
    color: crimson;
}
}

/* Hide hamburger on large screens */
@media screen and (min-width:901px) {
    .hamburger {
        display: none;
    }
    .close-btn{
        display: none;
        
    }
}



